<div class="container my-4">
    <div class="row">
        <h3 class="mx-auto">{{header}}</h3>
    </div>
    <div class="row justify-content-center align-items-center">
        {{#each items}}
        <div class="card m-1" style="width: 18rem;" id={{id}}>
            <img src="{{img}}" class="card-img-top">
            <div class="card-body text-center">
                <p class="card-text">
                    <strong>{{name}}</strong> <BR>
                    {{#if genre}} {{genre}} <BR> {{/if}} <P></P>
                </p>
                <hr>
                <p class="card-text">
                    {{#if location}}
                    <small>Popular in {{location}}</small>
                    {{/if}}
                </p>
                <small><a href="#">Add Genre</a></small> &nbsp;
                <button class="btn btn-sm btn-outline-dark">Songs</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>