<div class="container my-4">
    <div class="row">
        <h1 class="mx-auto">{{header}}</h1>
    </div>
    <div class="row justify-content-center align-items-center">
        {{#each items}}
        <div class="card m-1" style="width: 18rem;">
            <img src="{{img}}" class="card-img-top">
            <div class="card-body text-center">
                <p class="card-text">
                    <strong>{{name}}</strong> <BR>
                    {{genre}}
                </p>
                <hr>
                <p class="card-text">
                    {{#if location}}
                    <small>Popular in {{location}}</small>
                    {{/if}}
                </p>
                <a href="http://flip2.engr.oregonstate.edu:3306/music/songs-album/{{id}}" class="btn btn-sm btn-outline-dark">Songs</a>
            </div>
        </div>
        {{/each}}
    </div>
    <HR>
    <div class="row my-3">
        <h3 class="mx-auto">{{formHeader}}</h3>
    </div>
    <div class="row">
        <div class="mx-auto">
            <form method="POST" action={{formAddress}}>
                {{#if albums}}
                <select name="albumName" required>
                    <option>--Choose Album--</option>
                    {{#each albums}}
                    <option value={{id}}>{{name}}</option>
                    {{/each}}
                </select>
                <select name="genreName" required>
                    <option>--Choose Genre--</option>
                    {{#each genres}}
                    <option value={{genreId}}>{{genreName}}</option>
                    {{/each}}
                </select>                
                {{else}}
                <input type="text" name="albumName" placeholder="Album Name" required>
                {{/if}}
                <input class="btn btn-info btn-sm" type="submit" value="Add">
            </form>
        </div>
    </div>
</div>