<div class="container my-4">
    <div class="row">
        <h3 class="mx-auto">All Rhythm Seekers</h3>
    </div>
    <div class="row">
        <P  class="mx-auto">Click on 'Songs' to see <strong>Songs by User</strong></P>
    </div>
    <div class="row">
        <p class="mx-auto"><a href="../signup">Add New User</a></p>
    </div>
    <div class="row justify-content-center align-items-center">
        {{#each items}}
        <div class="card m-1" style="width: 18rem;" id={{userId}}>
            <div class="card-body text-center">
                <p class="card-text">
                    <strong>{{userName}}</strong>
                <hr>
                    <a href="./{{userId}}" class="btn btn-sm btn-info">Songs</a>
                    <P></P>
                    {{userEmail}} 
                    <BR> {{userPassword}}
                </p>
                <form method="POST" action="http://localhost:3306/user/delete/user">
                    <input name="userId" value={{userId}} hidden>
                    <input class="btn btn-danger btn-sm" type="submit" value="Delete User">
                </form>
            </div>
        </div>
        {{/each}}
    </div>
    <HR>
    <div class="row my-3">
        <h3 class="mx-auto">Update User Email</h3>
    </div>
    <div class="row">
        <div class="mx-auto">
            <form method="POST" action={{updateFormAddress}}>
                <select name="userId" required>
                    <option>--Choose User--</option>
                    {{#each items}}
                    <option value={{userId}}>{{userName}}</option>
                    {{/each}}
                </select>
                <input type="email" name="email" placeholder="New Email">
                <input class="btn btn-info btn-sm" type="submit" value="Update">
            </form>
        </div>
    </div>
</div>