<div class="container my-4">
    <div class="row">
        <h3 class="mx-auto">{{header}}</h3>
    </div>
    <div class="row justify-content-center align-items-center">
        {{#each items}}
        <div class="card col-md-2 m-1" id={{songId}}>
            <div class="card-body text-center">
                <p class="card-text">
                    {{songName}} <BR>
                    {{description}}
                    {{!-- {{songArtist}} <BR>
                    {{songAlbum}} <BR>
                    {{songGenre}} --}}
                </p>
                <button class="btn btn-small btn-primary">Favorite</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>
