<div class="container my-4">
    <div class="row">
        <h3 class="mx-auto">All Rhythm Seekers</h3>
    </div>
    <div class="row">
        <p class="mx-auto"><a href="../signup">Add New User</a></p>
    </div>
    <div class="row justify-content-center align-items-center">
        {{#each items}}
        <div class="card m-1" style="width: 18rem;" id={{userId}}>
            <div class="card-body text-center">
                <p class="card-text">
                    <strong>{{userName}}</strong>
                <hr>
                    <a href="./{{userId}}" class="btn btn-sm btn-info">Songs</a>
                    <P></P>
                    {{userEmail}} 
                    <BR> {{userPassword}}
                </p>
                <small><a href="#">Update Email</a></small>
            </div>
        </div>
        {{/each}}
    </div>
</div>