<div class="container my-4">
    <div class="row">
        <h1 class="mx-auto">{{header}}</h1>
    </div>
    <div class="row justify-content-center align-items-center">
        {{#each items}}
        <div class="card m-1" style="width: 18rem;" id={{id}}>
            <div class="card-body text-center">
                <p class="card-text">
                    <strong>{{name}}</strong> <BR>
                    {{#if genre}} {{genre}} <BR> {{/if}}
                    {{#if location}}
                </p>
                <hr>
                <p class="card-text">
                    <em>"{{description}}"</em> <BR>
                    <small>Popular in {{location}}</small>{{/if}}
                </p>
                {{#if genre}} <small><a href="#">Add Genre</a></small> &nbsp; {{/if}}
                <a href="http://flip2.engr.oregonstate.edu:3306/music/songs-artist/{{id}}" class="btn btn-sm btn-outline-dark">Songs</a>
            </div>
        </div>
        {{/each}}
    </div>
    <HR>
    <div class="row my-3">
        <h3 class="mx-auto">Add New Artist</h3>
    </div>
    <div class="row">
        <div class="mx-auto">
            <form method="POST" action="../music/artists">
                <input type="text" name="artistName" placeholder="Artist Name" required>
                <input class="btn btn-info btn-sm" type="submit" value="Add Artist">
            </form>
        </div>
    </div>
</div>