<div class="container my-4">
    <div class="row">
        <h3 class="mx-auto">{{header}}</h3>
    </div>
    <div class="row justify-content-center align-items-center">
        {{#each items}}
        <div class="card m-1" style="width: 18rem;" id={{id}}>
            <div class="card-body text-center">
                <p class="card-text">
                    <strong>{{name}}</strong> <BR>
                    {{#if genre}} {{genre}} <BR> {{/if}}
                    {{#if location}}
                </p>
                <hr>
                <p class="card-text">
                    <em>"{{description}}"</em> <BR>
                    <small>Popular in {{location}}</small>{{/if}}
                </p>
                <small><a href="#">Add Genre</a> &nbsp;</small>
                <a href="./songs-artist/{{id}}" class="btn btn-sm btn-outline-dark">Songs</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>