<div class="container my-4">
    <div class="row">
        <h3 class="mx-auto">Genres</h3>
    </div>
    <div class="row justify-content-center align-items-center">
        {{#each items}}
        <div class="card m-1" style="width: 18rem;" id={{genreId}}>
            <div class="card-body text-center">
                <p class="card-text">
                    <strong>{{genreName}}</strong> <P></P>
                </p>
                <a href="../music/songs-genre/{{genreId}}" class="btn btn-sm btn-outline-dark">Songs</a> &nbsp;
                <a href="../music/artists-genre/{{genreId}}" class="btn btn-sm btn-outline-dark">Artists</a> &nbsp;
                <a href="../music/albums-genre/{{genreId}}" class="btn btn-sm btn-outline-dark">Albums</a>
            </div>
        </div>
        {{/each}}
    </div>
    *Get Album By Genre is implemented
</div>