<div class="container my-4">
    <div class="row">
        <h1 class="mx-auto">{{header}}</h1>
    </div>
    <div class="row justify-content-center align-items-center">
        {{#each items}}
        <div class="card m-1" style="width: 18rem;" id={{id}}>
            <div class="card-body text-center">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">
                    {{#if artist}} by {{artist}} <BR> {{/if}}
                    {{#if album}} <hr> {{album}} <BR> {{/if}}
                    {{#if genre}} {{genre}} <BR> {{/if}}
                </p>
                {{#if location}}
                <hr>
                <p class="card-text">
                    <em>"{{description}}"</em> <BR>
                    <small>Popular in {{location}}</small>
                </p>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
    <HR>
    {{#if addSongs}}
    <div class="row my-3">
        <h3 class="mx-auto">{{formHeader}}</h3>
    </div>
    <div class="row">
        <div class="mx-auto">
            <form method="POST" action={{formAddress}}>
                {{#if songs}}
                <select name="songName" required>
                    <option>--Choose Song--</option>
                    {{#each songs}}
                    <option value={{id}}>{{name}}</option>
                    {{/each}}
                </select>                
                {{else}}
                <input type="text" name="songName" placeholder="Song Name" required>
                {{/if}}
                {{#if genres}}
                <select name="genreName" required>
                    <option>--Choose Genre--</option>
                    {{#each genres}}
                    <option value={{genreId}}>{{genreName}}</option>
                    {{/each}}
                </select>
                {{/if}}
                {{#if artists}}
                <select name="artistName" required>
                    <option>--Choose Artist--</option>
                    {{#each artists}}
                    <option value={{artistId}}>{{artistName}}</option>
                    {{/each}}
                </select>
                {{/if}}
                {{#unless songs}}
                <select name="albumName" required>
                    <option>--Choose Album--</option>
                    <option value=NULL>NULL</option>
                    {{#each albums}}
                    <option value={{albumId}}>{{albumName}}</option>
                    {{/each}}
                {{/unless}}
                <input class="btn btn-info btn-sm" type="submit" value="Add">
            </form>
        </div>
    </div>
    {{/if}}
</div>